@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local("PT Sans Bold"), url("../fonts/PTS75F_W.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans Narrow";
  font-weight: bold;
  font-display: swap;
  src: local("PT Sans Narrow Bold"),
    url("../fonts/PTN77F_W.woff2") format("woff2");
}

.main__greeting {
  font-family: "PT Sans", Arial, sans-serif;
}

.adjust-bar {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 30px;
  width: 100%;
  height: 60px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.adjust-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border: 3px solid rgba(51, 51, 51, 0.1);
  border-radius: 30px;
  box-shadow: 0 0 0 4px #fff;
}
.adjust-bar::-moz-range-thumb {
  box-sizing: border-box;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border: 3px solid rgba(51, 51, 51, 0.1);
  border-radius: 30px;
  background: transparent;
  box-shadow: 0 0 0 4px #fff;
}
.adjust-bar::-moz-range-track {
  background: transparent;
}
.adjust-bar__container_theme_temp {
  position: relative;
}
.adjust-bar__container_theme_temp::before,
.adjust-bar__container_theme_temp::after {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  top: 20px;
  z-index: 1;
  pointer-events: none;
}
.adjust-bar__container_theme_temp::before {
  content: "–10";
  left: 15px;
}
.adjust-bar__container_theme_temp::after {
  content: "+30";
  right: 15px;
}
.adjust-bar__container_theme_light {
  position: relative;
}
.adjust-bar__container_theme_light::before,
.adjust-bar__container_theme_light::after {
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
.adjust-bar__container_theme_light::before {
  top: 14px;
  left: 14px;
  width: 30px;
  height: 30px;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+DQogICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTS0xMTQwLTI1MEgyMjZ2NzY4aC0xMzY2eiIvPg0KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiLz4NCiAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxIDEpIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMSI+DQogICAgICA8Y2lyY2xlIHN0cm9rZT0iI2ZmZiIgY3g9IjExIiBjeT0iMTEiIHI9IjUiLz4NCiAgICAgIDxwYXRoIGQ9Ik0xMSAwdjJNMTEgMjB2Mk0zLjIyIDMuMjJsMS40MiAxLjQyTTE3LjM2IDE3LjM2bDEuNDIgMS40Mk0wIDExaDJNMjAgMTFoMk0zLjIyIDE4Ljc4bDEuNDItMS40Mk0xNy4zNiA0LjY0bDEuNDItMS40MiIgc3Ryb2tlPSIjZmZmIi8+DQogICAgPC9nPg0KICA8L2c+DQo8L3N2Zz4NCg==)
    center center/contain no-repeat;
}

.adjust-bar__container_theme_light::after {
  top: 13px;
  right: 13px;
  width: 34px;
  height: 34px;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+DQogICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTS0xMTQwLTI1MEgyMjZ2NzY4aC0xMzY2eiIvPg0KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiLz4NCiAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxIDEpIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiI+DQogICAgICA8Y2lyY2xlIHN0cm9rZT0iI2ZmZiIgY3g9IjExIiBjeT0iMTEiIHI9IjUiLz4NCiAgICAgIDxwYXRoIGQ9Ik0xMSAwdjJNMTEgMjB2Mk0zLjIyIDMuMjJsMS40MiAxLjQyTTE3LjM2IDE3LjM2bDEuNDIgMS40Mk0wIDExaDJNMjAgMTFoMk0zLjIyIDE4Ljc4bDEuNDItMS40Mk0xNy4zNiA0LjY0bDEuNDItMS40MiIgc3Ryb2tlPSIjZmZmIi8+DQogICAgPC9nPg0KICA8L2c+DQo8L3N2Zz4NCg==)
    center center/contain no-repeat;
}

.adjust-bar_theme_temp {
  background-image: linear-gradient(
    90deg,
    #068fff 0%,
    #ffd800 50%,
    #f76b1c 100%
  );
}
.adjust-bar_theme_light {
  background-image: linear-gradient(90deg, #ffe682 0%, #ff9e00 100%);
}
.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.button_color_yellow {
  background: #ffd93e;
}
.button_size_l {
  font-size: 18px;
  font-weight: 700;
  height: 60px;
  border-radius: 20px;
}
.button:hover {
  box-shadow: 0 2px 6px 0 rgba(255, 225, 225, 0.6);
}
.button:active {
  box-shadow: none;
}
.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 29px;
}
.content__item {
  width: 100%;
  margin-bottom: 29px;
  position: relative;
}
.content__item_half {
  width: 49%;
}
.content__item_main {
  padding-left: 40px;
}
.content__item_scenarios {
  padding-right: 40px;
}
.content__item-header {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.content__item-header_devices {
  padding-left: 40px;
  display: inline-block;
  margin-right: 11px;
}
#root {
  position: absolute;
  left: -10000px;
}
.devices {
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
  padding: 20px 0 6px 40px;
}
.devices__panel {
  margin-right: 15px;
}
.devices::after {
  content: "";
  display: inline-block;
  min-width: 25px;
}
.devices__paginator {
  position: absolute;
  top: 0;
  right: 40px;
}
.filter__select {
  display: none;
}
.filter__item-label {
  display: inline-block;
  font-size: 13px;
  line-height: 1;
  font-weight: 700;
  background: #f7f7f7;
  min-height: 30px;
  padding: 8px 13px;
  border-radius: 15px;
  margin-right: 11px;
  cursor: pointer;
}
.filter__item-label:hover {
  background: #ffd93e;
}
.filter__item-radio {
  display: none;
}
.filter__item-radio:checked + label {
  background: #ffd93e;
}
.filter__item-radio_kitchen:checked ~ .devices .panel {
  display: none;
}
.filter__item-radio_kitchen:checked ~ .devices .panel_kitchen {
  display: flex;
}
.filter__item-radio_room:checked ~ .devices .panel {
  display: none;
}
.filter__item-radio_room:checked ~ .devices .panel_room {
  display: flex;
}
.filter__item-radio_lamp:checked ~ .devices .panel {
  display: none;
}
.filter__item-radio_lamp:checked ~ .devices .panel_lamp {
  display: flex;
}
.filter__item-radio_cam:checked ~ .devices .panel {
  display: none;
}
.filter__item-radio_cam:checked ~ .devices .panel_cam {
  display: flex;
}
.footer {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 40px;
  width: 100%;
  height: 60px;
  font-size: 12px;
}
.footer__link {
  margin-right: 20px;
}
.header {
  width: 100%;
  height: 92px;
  padding: 0 40px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  background: #fff;
}
.knob {
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.knob svg {
  width: 220px;
  height: 220px;
  transform: rotate(90deg);
}
.knob__indicator {
  fill: none;
  stroke: #f5a623;
  stroke-width: 20px;
  stroke-dasharray: 0 629;
  transform: rotate(29deg);
}
.knob__indicator-bounds {
  fill: transparent;
  stroke: #fff;
  stroke-width: 21px;
  stroke-dasharray: 99 629;
  transform: rotate(-29deg);
}
.knob__indicator-bg {
  fill: rgba(51, 51, 51, 0.7);
}
.knob__indicator-mask {
  fill: transparent;
  stroke: #fff;
  stroke-width: 22px;
  stroke-dasharray: 4 1;
  transform: rotate(1deg);
}
.knob__self {
  fill: #fefefe;
  filter: url("#knob-shadow");
  cursor: pointer;
}
.knob__value {
  font-size: 66px;
  font-weight: 700;
  position: absolute;
  user-select: none;
  pointer-events: none;
}
.knob__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.link,
.link:active,
.link:visited {
  color: rgba(51, 51, 51, 0.6);
}
.link {
  text-decoration: none;
}
.link_active,
.link:hover {
  color: inherit;
}
.logo {
  display: inline-block;
  width: 108px;
  height: 27px;
  position: relative;
  background-image: url("../assets/logo.webp");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
.logo__ya {
  display: block;
  position: absolute;
  z-index: 10;
  outline: 0;
  height: 100%;
  width: 69px;
  left: 0;
  top: 0;
}
.logo__ya-sub {
  display: block;
  position: absolute;
  z-index: 5;
  outline: 0;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.main {
  height: 331px;
  border-radius: 20px;
  padding: 0 20px 0 25px;
  display: flex;
  justify-content: space-between;
  background: url("../assets/sh.webp") center center/cover no-repeat;
}
.main__greeting {
  margin-top: 6px;
  font-size: 27px;
  font-weight: 700;
}
.main__info {
  width: 61.585%;
  padding-top: 20px;
  padding-left: 20px;
  background: rgba(255, 255, 255, 0.6);
}
.main__panel {
  margin-bottom: 14px;
  position: relative;
}
.main__status {
  margin-top: 6px;
  line-height: 16px;
}
.main__upcoming {
  width: 220px;
  height: 100%;
  overflow-y: scroll;
}
.main__upcoming-wrapper {
  width: 200px;
  height: 100%;
  overflow: hidden;
}
.main__weather {
  margin-top: 25px;
}
.menu {
  margin-left: 52px;
}
.menu__icon {
  display: none;
}
.menu__item {
  margin-right: 27px;
  font-size: 16px;
  font-weight: 700;
}
.menu__list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}
@keyframes modal {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
  }
}
.modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(51, 51, 51, 0.5);
}
.modal_open {
  display: flex;
}
.modal_open .modal__content {
  animation: modal 0.2s ease forwards;
}
.modal__title {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 6px;
}
.modal__value {
  box-sizing: content-box;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 36px;
  font-weight: 700;
  max-width: 62px;
  height: 40px;
  padding-right: 32px;
}
.modal__value_temp {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+DQogICAgPGc+DQogICAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6Ij48L3BhdGg+DQogICAgICA8cGF0aCBkPSJNMTQgMTQuNzZWMy41YTIuNSAyLjUgMCAxIDAtNSAwdjExLjI2YTQuNSA0LjUgMCAxIDAgNSAweiIgc3Ryb2tlPSIjRjVBNjIzIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PC9wYXRoPg0KICAgICAgPGNpcmNsZSBmaWxsPSIjRkZEOTNFIiBmaWxsLXJ1bGU9Im5vbnplcm8iIGN4PSIxMS41IiBjeT0iMTguNSIgcj0iMy41Ij48L2NpcmNsZT4NCiAgICA8L2c+DQogIDwvZz4NCjwvc3ZnPg0K)
    calc(100% + 10px) 0% / contain no-repeat;
}
.modal__value_light {
  height: 45px;
  padding-right: 45px;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+DQogICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTS0xMTQwLTI1MEgyMjZ2NzY4aC0xMzY2eiIvPg0KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiLz4NCiAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxIDEpIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiI+DQogICAgICA8Y2lyY2xlIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLW9wYWNpdHk9Ii40IiBjeD0iMTEiIGN5PSIxMSIgcj0iNSIvPg0KICAgICAgPHBhdGggc3Ryb2tlLW9wYWNpdHk9Ii4xIiBkPSJNMTEgMHYyTTExIDIwdjJNMy4yMiAzLjIybDEuNDIgMS40Mk0xNy4zNiAxNy4zNmwxLjQyIDEuNDJNMCAxMWgyTTIwIDExaDJNMy4yMiAxOC43OGwxLjQyLTEuNDJNMTcuMzYgNC42NGwxLjQyLTEuNDIiIHN0cm9rZT0iIzMzMyIvPg0KICAgIDwvZz4NCiAgPC9nPg0KPC9zdmc+DQo=)
    right center/contain no-repeat;
}
.modal__status {
  margin-bottom: 20px;
}
.modal__adjust {
  margin-top: 25px;
}
.modal__button {
  width: 48.5%;
}
.modal__content {
  max-width: 640px;
  width: 100%;
}
.modal__body {
  position: relative;
  flex-shrink: 0;
  padding: 25px;
  margin-bottom: 15px;
  border-radius: 20px;
  background: #fff;
}
.modal__controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
.page {
  height: 100%;
  font: 14px Arial, sans-serif;
  color: #333;
  line-height: 1.143;
  margin: 0 auto;
  padding: 0;
  width: 1366px;
}
.page__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.page__wrapper-content {
  flex: 1 0 auto;
}
.paginator {
  height: 16px;
  width: 47px;
  display: flex;
  justify-content: space-between;
}
.paginator div {
  width: 16px;
}
.paginator_hide {
  display: none;
}
.paginator__arrow {
  opacity: 1;
  cursor: pointer;
}
.paginator__arrow:hover {
  opacity: 0.5;
}
.paginator__arrow:active {
  opacity: 0.3;
}
.paginator__arrow_disabled {
  opacity: 0.3;
}
.panel {
  padding: 14px;
  min-height: 100px;
  width: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  background: #f7f7f7;
  cursor: pointer;
  transition: opacity 0.3s ease-out;
}
.panel:hover {
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
}
.panel:active {
  box-shadow: none;
}
.panel_device {
  height: 120px;
}
.panel_first {
  margin-top: 20px;
}
.panel_last {
  margin-bottom: 20px;
}
.panel__sub {
  font-size: 12px;
  color: #858585;
}
.panel__title {
  font-weight: 700;
  margin-bottom: 4px;
}
.scenarios {
  max-height: 331px;
  background: #fff;
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
}
.scenarios__page {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 100px);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  justify-content: space-between;
  margin-right: 15px;
}
.scenarios__paginator {
  position: absolute;
  top: 0;
  right: 40px;
}
.scenarios_hide {
  display: none;
}
.weather {
  display: flex;
}
.weather__item {
  margin-right: 18px;
}
.weather__item-title {
  color: #858585;
  margin-bottom: 4px;
}
.weather__item-temp {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  font-family: "PT Sans Narrow", Arial, sans-serif;
}
.weather__item_outside {
  padding-right: 31px;
}
.weather__item_cloud-drizzle {
  background: url("../assets/cloud-drizzle.webp") 100% 70%/26px no-repeat;
}
.stats {
  opacity: 0;
}
.panel__icon {
  width: 24px;
  height: 24px;
}
.panel__icon_temp_off {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+DQogICAgPGc+DQogICAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6Ii8+DQogICAgICA8cGF0aCBkPSJNMTQgMTQuNzZWMy41YTIuNSAyLjUgMCAxIDAtNSAwdjExLjI2YTQuNSA0LjUgMCAxIDAgNSAweiIgc3Ryb2tlLW9wYWNpdHk9Ii40IiBzdHJva2U9IiMzMzMiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+DQogICAgICA8Y2lyY2xlIGZpbGwtb3BhY2l0eT0iLjEiIGZpbGw9IiMzMzMiIGZpbGwtcnVsZT0ibm9uemVybyIgY3g9IjExLjUiIGN5PSIxOC41IiByPSIzLjUiLz4NCiAgICA8L2c+DQogIDwvZz4NCjwvc3ZnPg0K)
    center center/contain no-repeat;
}
.panel__icon_temp_on {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+DQogICAgPGc+DQogICAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6Ij48L3BhdGg+DQogICAgICA8cGF0aCBkPSJNMTQgMTQuNzZWMy41YTIuNSAyLjUgMCAxIDAtNSAwdjExLjI2YTQuNSA0LjUgMCAxIDAgNSAweiIgc3Ryb2tlPSIjRjVBNjIzIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PC9wYXRoPg0KICAgICAgPGNpcmNsZSBmaWxsPSIjRkZEOTNFIiBmaWxsLXJ1bGU9Im5vbnplcm8iIGN4PSIxMS41IiBjeT0iMTguNSIgcj0iMy41Ij48L2NpcmNsZT4NCiAgICA8L2c+DQogIDwvZz4NCjwvc3ZnPg0K)
    center center/contain no-repeat;
}
.panel__icon_light_off {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+DQogICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTS0xMTQwLTI1MEgyMjZ2NzY4aC0xMzY2eiIvPg0KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiLz4NCiAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxIDEpIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiI+DQogICAgICA8Y2lyY2xlIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLW9wYWNpdHk9Ii40IiBjeD0iMTEiIGN5PSIxMSIgcj0iNSIvPg0KICAgICAgPHBhdGggc3Ryb2tlLW9wYWNpdHk9Ii4xIiBkPSJNMTEgMHYyTTExIDIwdjJNMy4yMiAzLjIybDEuNDIgMS40Mk0xNy4zNiAxNy4zNmwxLjQyIDEuNDJNMCAxMWgyTTIwIDExaDJNMy4yMiAxOC43OGwxLjQyLTEuNDJNMTcuMzYgNC42NGwxLjQyLTEuNDIiIHN0cm9rZT0iIzMzMyIvPg0KICAgIDwvZz4NCiAgPC9nPg0KPC9zdmc+DQo=)
    center center/contain no-repeat;
}
.panel__icon_light_on {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+DQogICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTS0xMTQwLTI1MEgyMjZ2NzY4aC0xMzY2eiIvPg0KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiLz4NCiAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxIDEpIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiI+DQogICAgICA8Y2lyY2xlIHN0cm9rZT0iI0Y1QTYyMyIgY3g9IjExIiBjeT0iMTEiIHI9IjUiLz4NCiAgICAgIDxwYXRoIGQ9Ik0xMSAwdjJNMTEgMjB2Mk0zLjIyIDMuMjJsMS40MiAxLjQyTTE3LjM2IDE3LjM2bDEuNDIgMS40Mk0wIDExaDJNMjAgMTFoMk0zLjIyIDE4Ljc4bDEuNDItMS40Mk0xNy4zNiA0LjY0bDEuNDItMS40MiIgc3Ryb2tlPSIjRkZEOTNFIi8+DQogICAgPC9nPg0KICA8L2c+DQo8L3N2Zz4NCg==)
    center center/contain no-repeat;
}
.panel__icon_clock {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+DQogICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTS05MjUtMjUwSDQ0MXY3NjhILTkyNXoiLz4NCiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6Ii8+DQogICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMiAyKSIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiI+DQogICAgICA8Y2lyY2xlIGN4PSIxMCIgY3k9IjEwIiByPSIxMCIvPg0KICAgICAgPHBhdGggb3BhY2l0eT0iLjMiIGQ9Ik0xMCA0djZsMyAzIi8+DQogICAgPC9nPg0KICA8L2c+DQo8L3N2Zz4NCg==)
    center center/contain no-repeat;
}
