html,
body {
  margin: 0;
  padding: 0; }

body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 375px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

button,
input,
a,
label {
  -webkit-tap-highlight-color: transparent; }

@media (min-width: 1200px) {
  body {
    min-height: 100vh; } }

svg g#favorites {
  opacity: inherit; }

.page-header {
  position: fixed;
  top: 0;
  min-width: 375px;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000; }

@media (min-width: 1200px) {
  .page-header {
    position: static;
    width: auto;
    border-bottom: 1px solid #F0F0F0; } }

.main-nav__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 11px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.main-nav__toggle {
  display: block;
  position: relative;
  -ms-flex-item-align: top;
      align-self: top;
  width: 16px;
  height: 13px;
  outline: none;
  background-color: #ffffff;
  border-style: none;
  cursor: pointer; }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 2px;
  background-color: #333333;
  -webkit-box-shadow: 0 5px 0 0 #333333, 0 10px 0 0 #333333;
          box-shadow: 0 5px 0 0 #333333, 0 10px 0 0 #333333;
  border-radius: 1px; }

.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 16px;
  height: 2px;
  background-color: #333333;
  border-radius: 1px; }

.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.main-nav--opened .main-nav__toggle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.main-nav__item {
  display: block;
  padding: 5px 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: rgba(51, 51, 51, 0.6);
  text-decoration: none;
  background-color: #ffffff;
  border-bottom: 1px solid #F0F0F0; }
  .main-nav__item:hover {
    color: rgba(51, 51, 51, 0.8); }

.main-nav__item--current {
  color: #333333; }
  .main-nav__item--current:hover {
    color: #333333; }

@media (max-width: 1200px) {
  .main-nav--closed .main-nav__list {
    display: none; }
  .main-nav--opened .main-nav__list {
    display: block; } }

@media (min-width: 1200px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    max-width: 1367px;
    padding: 25px 40px;
    padding-bottom: 18px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .main-nav__bar {
    margin-right: 40px;
    padding: 0; }
  .main-nav__toggle {
    display: none; }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .main-nav__item {
    padding: 10px 14px;
    border-style: none; } }

.page-main {
  margin-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden; }

.page-main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.page-main__title {
  margin: 0;
  padding: 45px 0;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 700; }

@media (min-width: 1200px) {
  .page-main {
    margin-top: 0;
    padding: 0 40px; }
  .page-main__title {
    padding: 45px 0;
    font-size: 36px; } }

.page-footer {
  padding: 0 20px;
  padding-top: 20px; }

.page-footer__links {
  display: inline-block; }

.page-footer__link {
  display: block;
  text-decoration: none;
  font-size: 12px;
  color: rgba(133, 133, 133, 0.6); }
  .page-footer__link:hover {
    color: rgba(133, 133, 133, 0.8); }

.page-footer__copyright {
  margin: 0;
  font-size: 12px;
  color: #858585; }

@media (min-width: 1200px) {
  .page-footer {
    margin-top: auto;
    padding: 30px 40px;
    padding-right: 80px; }
  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1367px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .page-footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .page-footer__link {
    margin-right: 10px; } }

.events {
  display: grid;
  width: 100%;
  grid-gap: 15px; }

@media (min-width: 1200px) {
  .events {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px; } }

.event {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333333;
  background-color: #fafafa;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.event:hover {
  background-color: #f3f3f3;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); }

.event:hover .event__open,
.event:hover .event__close {
  visibility: visible; }

.event:hover .event__body {
  background-color: #f3f3f3; }

.event.event--critical {
  background-color: #db5341; }

.event.event--critical:hover {
  background-color: #db5341;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); }

.event.event--critical .event__body:hover {
  background-color: #f3f3f3; }

.event.event--critical .event__meta,
.event.event--critical .event__title {
  color: #ffffff; }

.event__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 10px;
  padding: 0 10px;
  padding-top: 16px; }

.event__title {
  display: block;
  max-height: 40px;
  margin: 0;
  padding-right: 25px;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  font-weight: 700; }

.event__icon-container {
  margin-right: 16px;
  -webkit-transform: scale(0.72);
          transform: scale(0.72); }

.event__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.event.event--critical .event__meta {
  margin-bottom: 20px; }

.event__source {
  font-size: 12px; }

.event__time {
  font-size: 12px; }

.event__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  background-color: #fafafa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.event__description {
  padding: 0 15px;
  padding-top: 20px;
  font-size: 18px; }

.event__data {
  margin-top: auto;
  padding: 0 10px; }

.event__close,
.event__open {
  position: absolute;
  padding: 2px;
  right: 15px;
  background: #f3f3f3;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  visibility: hidden; }
  .event__close img,
  .event__open img {
    display: block; }

.event__close {
  top: 15px; }

.event__open {
  bottom: 15px;
  padding: 2px 5px; }

@media (min-width: 1200px) {
  .event--large {
    grid-column: span 4;
    grid-row: span 3; }
  .event--medium {
    grid-column: span 3; }
  .event--small {
    grid-column: span 2; }
  .event__header {
    margin-bottom: 20px;
    padding: 0 25px;
    padding-top: 25px; }
  .event--small .event__header {
    margin-bottom: 20px;
    padding-top: 20px; }
  .event__title {
    max-height: 60px;
    padding: 0;
    font-size: 24px;
    line-height: 30px; }
  .event__icon-container {
    margin-right: 20px;
    -webkit-transform: scale(1);
            transform: scale(1); }
  .event__meta {
    margin-bottom: 5px; }
  .event__source {
    display: block;
    font-size: 18px; }
  .event--small .event__source {
    margin-bottom: 15px; }
  .event__time {
    display: block;
    font-size: 18px; }
  .event--small .event__meta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0; }
  .event__description {
    padding: 0 20px;
    padding-top: 20px;
    font-size: 24px; }
  .event--small .event__description,
  .event--medium .event__description {
    font-size: 20px; }
  .event__data {
    margin-top: auto;
    padding: 0 20px; }
  .event__close,
  .event__open {
    visibility: hidden; } }

.music {
  padding-top: 20px; }

.music__play-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.music__status {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.music__duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.music__icon-container {
  margin-right: 15px;
  border-radius: 8px;
  overflow: hidden; }
  .music__icon-container img {
    display: block; }

.music__title {
  margin: 0;
  font-size: 20px;
  color: #000000; }

.music__duration-slider,
.music__volume-slider {
  width: 100%; }

.music__duration-slider input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 1px;
  background: #979797;
  outline: none; }

.music__duration-slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 20px;
  background: #d8d8d8;
  border-radius: 4.5px;
  cursor: pointer; }

.music__duration-slider input::-moz-range-thumb {
  width: 12px;
  height: 20px;
  background: #d8d8d8;
  border-radius: 4.5px;
  cursor: pointer; }

.music__length,
.music__volume-value {
  display: block;
  font-family: Helvetica;
  font-size: 14px;
  color: #a1a1a1; }

.music__length {
  margin-left: 15px;
  margin-top: 7px; }

.music__volume-slider input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 4px;
  background: rgba(216, 216, 216, 0.3);
  outline: none; }

.music__volume-slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #605757;
  border-radius: 50%;
  cursor: pointer; }

.music__volume-slider input::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #605757;
  border-radius: 50%;
  cursor: pointer; }

.music__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

.music__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 13px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 133px; }

.music__skip {
  margin: 0;
  padding: 0;
  background: none;
  border-style: none;
  cursor: pointer; }
  .music__skip img {
    display: block; }
  .music__skip--next {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

.music__volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.music__volume-value {
  margin-left: 20px;
  margin-top: 7px; }

.stats {
  border-radius: 20px;
  overflow: hidden; }
  .stats img {
    display: block;
    width: 100%; }

.thermal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px; }

.thermal__temperature,
.thermal__humidity {
  font-weight: 700; }

@media (min-width: 1200px) {
  .thermal {
    margin-top: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 18px; }
  .thermal__temperature {
    margin-right: 50px; } }

.fridge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px; }

.fridge__button {
  width: 132px;
  padding: 10px 0;
  background-color: #e5e5e5;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  cursor: pointer; }
  .fridge__button--active {
    background-color: #ffd93e;
    margin-right: 32px; }

@media (min-width: 1200px) {
  .fridge {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .fridge__button {
    margin-top: 0;
    margin-right: 18px;
    padding: 15px 0; } }

.cam {
  margin-top: 30px; }

.cam__pic {
  position: relative;
  overflow: hidden;
  border-radius: 20px; }

.cam__slider {
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 100px;
  height: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px; }

.cam__params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  color: #333333; }

.cam__scale,
.cam__brightness {
  display: block; }

#cam-pic {
  display: block;
  -ms-touch-action: none;
      touch-action: none; }

@media (max-width: 1200px) {
  .cam__params {
    font-size: 12px; } }
